{% extends 'base.html' %}

{% block title %} makereddit {% endblock %}

{% block content %}
<div id="post-container">

  <!-- STRETCH GOAL: Display the correct number of upvotes for each post.
      (HINT: Use the |length operator to get the length of a list.) -->

  <div class="card mb-3" style="display: flex; flex-direction: row;">
    <div class="vote-box">
      <a onclick="upvote(this, 1);"><i class="fas fa-arrow-up"></i></a>
      <p class="numvotes">1</p>
      <a onclick="downvote(this, 1);"><i class="fas fa-arrow-down"></i></a>
    </div>
    <div class="card-body border-dark">
      <p class="post-title card-text text-dark">
        <small class="text-muted">Posted by <b>{{ entry.author.username }}</b></small>
        <div>
          <h4>
            {{ entry.title }}
          </h4>
          <hr>
            <a href="{{ entry.url }}">{{ entry.url }}</a>
          <hr>
          <h6>Description</h6>
          <p>
            {{ entry.description }}
          </p>
        </div>
        <hr>

        <form>
          <div class="form-group">
            <label for="comment-text">Write a comment as <b>{{ username }}</b></label>
            <textarea class="form-control" id="comment-text" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </p>
    </div>
  </div>

</div>
{% endblock %}
