{% extends 'base.html' %}

{% block content %}
<div>
  <h1>New Entry</h1>
  <form action="{{ url_for('entry.create_new') }}" method="post">
    {{ form.csrf_token }}
    {% for field in form if field.id != 'csrf_token' and field.id != 'submit' %}
    <div class="form-group">
      {{ field.label }}
        {% if field.type == 'TextAreaField' %}
          {{ field(class_='form-control', rows='4') }}
        {% else %}
          {{ field(class_='form-control') }}
        {% endif %}
    </div>
    {% endfor %}
    <div>
      {{ form.submit(class_='btn btn-info') }}
    </div>

  </form>
</div>
{% endblock content %}
